* {
  box-sizing: border-box;
}

body {

  margin: 0;
  font-size: 20px;
  font-family: Monaco serif;
  background-color: #dfdfdf;


  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0px 0px 20px 0px;

}

ul,
li,
ol,
a {
  padding: 5px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 170px 170px 170px;
  background-color: #f9f9fd;
  text-align: left;

  border-radius: 8px;
}

.title {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}

.warning {
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: tomato;
  padding: 15px;

}

.information {
  width: 1260px;
  display: block;

  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
  color: white;
  padding: 10px;
  margin-top: 10px;

  background-color: rgb(66, 66, 66);
}

.img {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.bg {
  padding: 20px;
  width: 1260px;
  display: block;
  background-color: #dfdfdf;
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
}



.overlay {
  margin-left: auto;
  margin-right: auto;

  max-width: 1260px;
  max-height: 100%;

  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  height: 580px;
  border-radius: 18px;
  background-image: linear-gradient(rgba(245, 245, 245, 0.5), rgba(0, 0, 0, 0.5)), url('../images/koi.png');
}

.action,
button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-image: url('../images/ds.svg');
  fill: #000;

}



/* ==================================== */


.list {
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

.list-link {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  font-size: 32px;
}

.list-link:hover {
  color: #2196f3;
}

.list-link::before,
.list-link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
}

/* Добавляет и скрывает значок глаза после текста ссылки. */
.list-link::after {
  display: none;
  margin-left: 16px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png")
}

/* Показывать значок стрелки при наведении */
.list-link:hover::after {
  display: block;
}

/* ==================================== */
.shadow {
  border: 1px solid #dfdfdf;
  padding: 20px;
  text-align: center;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);

}

/* ==================================== */
.card-set {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  background-color: #f9f9fd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.card__set {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.post {
  flex-basis: calc(50% - 30px);
  min-width: 320px;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
}

.post:nth-child(1) {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.post:nth-child(2) {
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.3);
}

.post:nth-child(3) {
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.3);
}

.post:nth-child(4) {
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}

.post_title {
  margin-top: 0;
}

.post__text {
  margin-bottom: 0;
}

/* ==================================== */
.post__inset {
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.post__title--inset {
  margin-top: 0;
}

.post__text-inset {
  margin-bottom: 0;
}

/* ==================================== */
.post__shadow {
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* ==================================== */

/* ==================================== */

/* ==== Как фон элемента==== */

.box {
  width: 240px;
  height: 240px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  background-image: url("https://res.cloudinary.com/goit-academy/image/upload/v1614773221/codepen/cat_segyum.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ==================================== */

.icon {
  display: inline-flex;
  width: 120px;
  height: 120px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.icon:hover {
  fill: #4b32db;
}



/* ==================================== */